<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- NUnit adapter -->  
	<NUnit>
		<NumberOfTestWorkers>24</NumberOfTestWorkers>
	</NUnit>
	<!-- General run configuration -->
	<RunConfiguration>
		<EnvironmentVariables>
			<!-- For debugging selectors, it's recommend to set the following environment variable -->
			<DEBUG>pw:api</DEBUG>
		</EnvironmentVariables>
	</RunConfiguration>
	<!-- Playwright -->  
	<Playwright>
		<BrowserName>chromium</BrowserName>
		<ExpectTimeout>180000</ExpectTimeout>
		<LaunchOptions>
			<Headless>false</Headless>
			<Channel>chrome</Channel>
		</LaunchOptions>
	</Playwright>
	<TestRunParameters>
		<Parameter name="DebugMode" value="true"/>
		<Parameter name="Environment" value ="QA"/>
		<Parameter name="BrowserName" value="chromium"/>
		<Parameter name="Headless" value="false"/>
		<Parameter name="Channel" value="chrome"/>
		<Parameter name="Timeout" value="180000"/>
	</TestRunParameters>
</RunSettings>